[user]
	name = Jim Wu
	email = jimwu@kkbox.com
[core]
	editor = vim
[color]
        ui = auto
        diff = auto
        status = auto
        branch = auto
        log = auto
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	cp = cherry-pick
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
